{
  "env": {
    "development": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          { "ssr": true, "displayName": true, "preprocess": false }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          { "ssr": true, "displayName": true, "preprocess": false }
        ]
      ]
    }
  },
  "plugins": [
    [
      "babel-plugin-styled-components",
      { "ssr": true, "displayName": true, "preprocess": false }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "Variables": "ss-styled-components/src/components/base/Variables/Variables.jsx",
          "GlobalStyles": "ss-styled-components/src/components/base/GlobalStyles/GlobalStyles.jsx",
          "helpers": "ss-styled-components/src/components/_helpers",
          "attributes": "ss-styled-components/src/attributes",
          "atoms": "ss-styled-components/src/components/atoms",
          "base": "ss-styled-components/src/components/base",
          "blocks": "ss-styled-components/src/components/blocks",
          "layout": "ss-styled-components/src/components/layout",
        }
      }
    ]
  ],
  "presets": [
    "es2015", "react", "stage-0"
  ]
}
