{
  "env": {
    "development": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          { "ssr": true, "displayName": true, "preprocess": false }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          { "ssr": true, "displayName": true, "preprocess": false }
        ]
      ]
    }
  },
  "plugins": [
    [
      "babel-plugin-styled-components",
      { "ssr": true, "displayName": true, "preprocess": false }
    ],
    // [
    //   "module-resolver",
    //   {
    //     "root": ["./src"],
    //     "alias": {
    //       "attributes": "./src/attributes",
    //       "components": "./src/components",
    //       "blocks": "./src/components/blocks",
    //       "atoms": "./src/components/atoms"
    //     }
    //   }
    // ]
  ],
  "presets": [
    "es2015", "react", "stage-0"
  ]
}
